@import "tailwindcss";

@theme {
    --font-sans: var(--font-inter);
    --font-mono: var(--font-jbm);
}

@layer base {
    * {
        border-color: white;
    }
    a {
        color: lime;
        text-decoration: underline;
    }
}
