---
import Layout from "@/layouts/html.astro";
---

<Layout class="font-mono flex justify-center">
    <main class="w-3xl mt-24 border p-6 border-fg bg-bg mx-3 space-y-2">
        <h1 class="font-extrabold italic text-fg0 text-2xl tracking-tight">
            Hack Club Győr
        </h1>
        <p class="text-justify">
            Mi a győri Hack Club vagyunk, diákokból álló közösség, akik imádják
            a számítógépeket, a programozást és az alkotást. Tagjai vagyunk egy
            nemzetközi <a href="https://hackclub.com"
                >programozóklub-hálózatnak</a
            >. A Hack Clubban a tagok <a href="https://shiba.hackclub.com"
                >játékokat készítenek</a
            > és <a href="https://hackclub.com/onboard"
                >áramköröket is terveznek</a
            >. Ha ez neked is érdekes, csatlakozz hozzánk!
        </p>
        <div
            class="flex gap-5 items-center *:no-underline *:px-1 *:text-fg *:hover:text-bg *:hover:bg-fg"
        >
            <a class="bg-fg text-bg!" href="/jelentkezes">Jelentkezés &gt;</a>
            <a href="/programok">Programok &gt;</a>
            <a href="https://hcb.hackclub.com/donations/start/hack-club-gyor"
                >Támogatás &gt;</a
            >
        </div>
    </main>
</Layout>
