---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Hack Club Győr</title>
    </head>
    <body>
        <h1>Hack Club Győr</h1>
        <section>
            <p>
                A Hack Club egy globális nonprofit hálózat, amely középiskolai
                programozási klubokat fog össze, ahol a diákok programozást
                tanulnak, projekteket készítenek és egy támogató közösséggel
                ismerkednek meg.
            </p>
            <p>
                Ingyenes források, projektötletek és minden szintű diák számára
                barátságos környezet biztosításával segíti a tizenéveseket
                abban, hogy a technológia segítségével alkotókká váljanak.
            </p>
            <p>
                A Hack Club segít a diákoknak programozási készségeik,
                kreativitásuk és vezetői képességeik fejlesztésében, miközben
                pozitív hatást gyakorolnak iskoláikra és közösségeikre.
            </p>
            <p>
                Tudj meg többet: <a href="https://hackclub.com">hackclub.com</a>
                (angol)
            </p>
        </section>
    </body>
</html>
