---
import Layout from "@/layouts/html.astro";

export const prerender = true;
---

<Layout class="flex justify-center">
	<main class="space-y-6 p-6 md:mt-24 md:w-3xl md:space-y-2">
		<h1 class="text-2xl font-extrabold tracking-tight italic">
			Hack Club Győr
		</h1>
		<p class="text-justify">
			Mi a győri Hack Club vagyunk, diákokból álló közösség, akik imádják a
			számítógépeket, a programozást és az alkotást. Tagjai vagyunk egy
			nemzetközi <a href="https://hackclub.com">programozóklub-hálózatnak</a>. A
			Hack Clubban a tagok <a href="https://shiba.hackclub.com"
				>játékokat készítenek</a
			> és <a href="https://hackclub.com/onboard">áramköröket is terveznek</a>.
			Ha ez neked is érdekes, légy klubtag!
		</p>
		<div
			class="group inline-flex items-center gap-5 *:px-1 *:no-underline *:hover:bg-[#00ff00] *:hover:text-black *:focus-visible:bg-[#00ff00]/75 *:focus-visible:text-black"
		>
			<a
				class="bg-[#00ff00] text-black group-focus-within:bg-transparent group-focus-within:text-[#00ff00] group-hover:bg-transparent group-hover:text-[#00ff00]"
				href="/jelentkezes">Klubtagság &gt;</a
			>
			<a href="/programok">Programok &gt;</a>
			<a href="https://hcb.hackclub.com/donations/start/hack-club-gyor"
				>Támogatás &gt;</a
			>
		</div>
	</main>
</Layout>
